.dropdown-box {
    position: absolute;
    display: none;

    background-color: var(--bg-color);
    color: var(--text-color);

    flex-direction: column;
    gap: 3px;
    padding: 5px;

    border: var(--hover-bg) solid 1px;
}

.dropdown-display {
    margin: 1px;
    margin-bottom: -1px;
}

.dropdown-show {
    display: flex;
}

.dropdown-item-selected {
    background-color: var(--confirm-color);
}

.dropdown-item {
    align-items: center;

    padding: 5px;
    user-select: none;

    transition: 150ms ease-in-out;
}

.dropdown-item:hover {
    background-color: var(--hover-bg);
}
